**/*.kubeconfig
.idea
multi-mesh-locality-lb/Makefile.selfsigned.mk
multi-mesh-locality-lb/common.mk

multi-mesh-locality-lb/east/
multi-mesh-locality-lb/west/
multi-mesh-locality-lb/helloworld-zone*

